.header-main{
    padding: 50px 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    @include max1024{
        padding: 30px 0;
    }
    &__logo{
        img{
            max-width: 175px;
            @include max1024{
                max-width: 102px;
            }
        }
    }
    &__icon{
        a{
            svg{
                width: 45px;
                height: auto;
            }
        }
    }
    &__menu{
        width: 100%;
        height: 100dvh;
        background: $primary-color;
        max-height: 0;
        overflow: hidden;
        margin-top: 56px;
        transition: all 0.45s ease-in-out;
        &.visible{
            overflow: unset;
            max-height: max-content;
        }
        @include max1024{
            margin-top: 100px;
        }
        nav{
            ul{
                li{
                    margin-bottom: 6px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        font-family: $font-roboto;
                        font-size: 80px;
                        line-height: 1.35;
                        color: $secondary-color;
                        font-style: italic;
                        font-weight: 700;
                        letter-spacing: 5.4px;
                        text-transform: capitalize;
                        @include max1024{
                            font-size: 40px;
                            line-height: 1.7;
                            letter-spacing: unset;
                        }
                    }
                }
            }
        }
    }
}